.App {
  text-align: center;
}

form {
  width: 30%;
  margin: 160px 320px;
  padding: 32px;
  border: 1px solid #121212;
  border-radius: 8px;
}

.FormContainer {
  padding: 0;
  list-style-type: none;
}

.FormList {
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.CheckboxList {
  display: flex;
  justify-content: flex-start;
}

.CheckboxGroup {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}